.navbar, .links, .logo-container{
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.links, .table-list {
    list-style: none;
}

.links li, .heading-info, .currency, .duration{
    font-size: 18px;
}

.links li{
    margin: 0px 15px;
}

.links li a, .brand-name a, .scroll-top, .pricing-btn a, .middle-pricing-btn a{
    text-decoration:none ;
}

.links li a, .heading-info{
    color: #e5e7eb;
}

.brand-name a{
    font-size: 24px;
    color: #f9faf8;
}

.general-heading{
    color: #f9faf8;
    font-weight: bolder;
    margin-bottom: 20px;
    font-size: 48px;
}

body, .single-pricing, .currency, .amount, .table-list li, .table-list{
    position: relative;
}

body {
    overflow-x: hidden;
    margin: 0;
    padding: 0;
}

.section {
    padding: 50px 0px;
    overflow-x: hidden;
}

.scroll-top {
    width: 45px;
    height: 45px;
    line-height: 45px;
    background: #7e57ff;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 14px;
    color: #fff !important;
    position: fixed;
    bottom: 30px;
    right: 30px;
    z-index: 1001;
    cursor: pointer;
    border-radius: 5px;
}

.scroll-top:hover {
    bottom: 35px;
}

.hero {
    padding: 1px 100px;
    background-color: #1f2937;
}

.section-title {
    padding: 0px 200px;
    margin-bottom: 50px;
    text-align: center;
}

.pricing {
    display: flex;
    justify-content: space-evenly;
}

.popular {
    position: absolute;
    right: 10px;
    top: 10px;
}

.single-pricing {
    border: solid #3882f6;
    background-color: white;
    border-radius: 10px;
    margin-top: 40px;
    padding: 50px 40px;
}

.pricing-head h4 , .popular, .pricing-btn a{
    color: #3882f6;
}

.currency {
    top: -30px;
}

.amount {
    font-size: 60px;
    margin-top: 30px;
    margin-bottom: 30px;
}

.table-list li {
    font-size: 15px;
    bottom: 6px;
    color: #081828;
}

.table-list {
    padding: 0px 25px;
    margin-bottom: 50px;
}

.pricing-btn a {
    background-color: #3882f6;
    color: white;
    border-radius: 45px;
    padding: 15px 35px;
    transition: all .3s ease;
}

.pricing-btn:hover a {
    background-color: black;
    color: white;
}

.middle-pricing-btn a {
    background-color: #000000;
    color: white;
    border-radius: 45px;
    padding: 15px 35px;
    transition: all .3s ease;
}

.middle-pricing-btn:hover a {
    background-color: #3882f6;
    color: white;
}

.footer-logo img {
    width: 150px;
}

.footer-content p {
    color: white;
    margin-top: 25px;
}

.footer-content h4 {
    color: white;
    font-size: 16px;
    margin-top: 20px;
}

.footer-content {
    display: inline-block;
}

.footer-subscribe {
    padding-left: 80px;
}

.footer-solutions h3, .footer-support h3, .footer-subscribe h3 {
    font-size: 17px;
    font-weight: 600;
    display: block;
    margin-bottom: 35px;
    color: #fff;
}

.footer-solutions li, .footer-support li {
    display: block;
    margin-bottom: 15px;
}

.single-footer-content {
    padding: 0px;
}

.single-footer-content a {
    text-decoration: none;
    color: white;
    transition: all .3s ease;
}

.single-footer-content a:hover {
    color: #7e57ff;
}

.footer-subscribe p {
    color: white;
    margin-bottom: 40px;
}

.input-group input {
    background-color: #ffffff1f;
    border: none;
    border-radius: 10px;
    padding: 10px 20px;
}

.input-group input:focus {
    background-color: #ffffff1f;
    border: none;
    box-shadow: 0 0 0 0;
    caret-color: white;
}

.input-group input::placeholder {
    color: #737373;
}

.copyright-area{
    display: flex;
    justify-content: center;
}

.copyright-text {
    color: #fff;
    font-size: 15px;
    transition: all .3s ease-out;
}

.footer {
    background-color: #081828;
    padding-top: 25px;
}

.footer-container{
    display: flex;
    justify-content: space-evenly;
}