/* Font Family */
@font-face {
    font-family:'Roboto';
    src: url(fonts/Roboto-Regular.ttf);
}
html,body{
    margin: 0;
    padding: 0;
    width: 100%;
}

header{
    padding-top: 25%;
    width: 100%;
    height: auto;
    background-attachment: fixed;
    background: url(banner1.png) no-repeat;
    background-position-x: -100%;
    background-position-y: 100px;
    background-color: #1f2937;
    background-size: cover;
  }

/* Navbar Styles */
nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 20px;
    position: fixed;
    top:0;
    width: 100%;
    overflow: hidden;
    background-color: #1f2937;
  }
  
  .nav-img {
    max-width: 100px; /* Set your desired max width for the logo */
  }
  
  .nav-list {
    list-style: none;
    display: flex;
    margin: 0;
    padding: 0;
  }
  
  .nav-item {
    margin-right: 20px; /* Add spacing between menu items */
    text-decoration: none;
    color: #f9faf8; /* Set your text color */
    font-weight: bold;
  }
  .nav-brand{
    color:#f9faf8;
    text-decoration: none;
    size: 24px;
    padding-right: auto;
}
  
  /* Media query for responsive design */
  @media screen and (max-width: 768px) {
    nav {
      flex-direction: column;
      align-items: flex-start;
    }
  
    .nav-list {
      margin-top: 10px; /* Add spacing between logo/brand and menu items */
    }
  
    .nav-item {
      margin-right: 0;
      margin-bottom: 10px; /* Add spacing between menu items */
    }
    
  }
  /*---------------------------------------------------------------------------*/
  
  /* Title and Header Image Styles */
  
  .banner {
    position:relative;
    overflow:hidden;
    display: flex;
    flex-direction: column-reverse; /* Reverses the order of image and content on smaller screens */
    padding: 20px;
    text-align: center; /* Center-align content on smaller screens */
  
    /* You can set a background image here instead of a color if desired */
  }
  .h1{
    font-size: 48px;
    font-weight: bolder;
    color: #f9faf8;
  }
  .info{
    font-size: 18px;
    color: #e5e7eb;
  }
  
  .writings {
    text-align: center;
    margin-bottom: 20px;
    min-height: 300px;
    max-width: 200px;
    border-radius: 20px;
    padding: 40px 50px;
    border-bottom: 3px solid transparent;

  }

  
  /* Media query for responsive design */
  @media screen and (min-width: 768px) {
    .banner {
      flex-direction: row; /* Revert to the original order of content and image */
      text-align: left; /* Align content to the left on larger screens */
    }
  
    .row {
      flex-direction: row; /* Revert to the original order of content and image */
      align-items: center; /* Align content to the center vertically */
    }
  
    .writings {
      margin-right: 20px; /* Add spacing between content and image */
      text-align: left; /* Align content to the left on larger screens */
    }
  }
  

  /*-------------------------------------------------------*/
  /* Our Courses Section Styles */
 .services {
    padding: 40px 0;
    text-align: center;
  }
 .section-title {
    padding: 0px 200px;
    margin-bottom: 50px;
    text-align: center;
}

  .general-heading {
    font-size: 36px;
    margin-bottom: 20px;
  }
  
  .heading-info {
    font-size: 18px;
  }
  
  /* Service Card Styles */
  .grid-container{
    justify-content: center;
    padding: 0% 10% 0% 10%;
    display: grid;
    grid-template-columns: repeat(3, 1fr); /* Create a 3-column grid */
    grid-gap: 20px; /* Add spacing between grid items */
  }
  .single-service {
    min-height: 300px;
    margin-top: 30px;
    border-radius: 20px;
    background-color: #f9faf8;
    box-shadow: 0 0 30px rgb(81 94 125 / 8%);
    padding: 40px 50px;
    text-align: center;
    transition: all .3s ease;
    border-top: 3px solid transparent;
    border-bottom: 3px solid transparent;
}

.single-service:hover {
    transform: scale(1.05);
    border-top-color: #3882f6;
    border-bottom-color: #3882f6;
}

.single-service p {
    color: #1f2937;
}

.main-icon {
    padding: 15px 10px;
    border-radius: 10px;
    width: 65px;
    height: 65px;
    background-color: #3882f6;
    color: rgb(255, 255, 255);
    margin-right: 0px;
    text-align: center;
    display: inline-block;
    margin-bottom: 35px;
    font-size: 25px;
}

.text-title {
    font-size: 20px;
    margin-bottom: 17px;
}

/*------------------------------*/
/* Testimonial Styles  */
  
#container {
    max-width: auto;
    margin: 0 auto;
    text-align: center;
    position: relative;
}

#testimonials {
    background-color: #f9f9f9;
    padding: 30px 0;
}

  /*Carousel*/
  .carrousel {
    text-align: center;
    padding: 4em 0;
    height: 7.5em;
    max-width: 750px;
    margin: auto;
    position: relative;
    overflow: hidden;
  }
  .carrousel h2 {
    margin: 0;
    margin-top: -1.7em;
    padding: 0;
    font-size: 1em;
    text-align: center;
    color: #bbbbbb;
  }
  .carrousel .slides {
    width: 400%;
    left: 0;
    padding-left: 0;
    padding-top: 1em;
    overflow: hidden;
    list-style: none;
    position: relative;
  
    -webkit-transition: transform .5s;
    -moz-transition: transform .5s;
    -o-transition: transform .5s;
    transition: transform .5s;
  }
  .carrousel .slides li {
    width: 25%;
    position: relative;
    float: left;
  }
  .carrousel li p{
    margin-top: 0;  
  }
  .carrousel li q {
    max-width: 90%;
    margin: auto;
    color: #666666;
    font-size: 1.3em;
    font-weight: bold;
  }
  .carrousel li img {
    width: 3em;
    height: 3em;
    object-fit: cover;
    border-radius: 50%;
    margin-left: -1.5em;
    margin-right: 0.5em;
    vertical-align: middle;
  }
  .carrousel li span.author {
    margin-top:0.5em;
    font-size: 1.2em;
    color: #777777;
    display: block;
  }
  .carrousel .slidesNavigation {
    display: block;
    list-style: none;
    text-align: center;
    bottom: 1em;
    position: absolute; 
      width: 104px;
      left: 50%; 
      margin-left: -52px;
  }
  .carrousel input {
    display: none;
  }
  .carrousel .slidesNavigation label {
    float: left;
    margin: 6px;
    display: block;
    height: 10px;
    width: 10px;
    -webkit-border-radius: 50%;
    border-radius: 50%;
    border: solid 2px #2980b9;
    font-size: 0;
  }
  #radio-1:checked ~ .slides {
    transform: translateX(0%);
  }
  #radio-2:checked ~ .slides {
    transform: translateX(-25%);
  }
  #radio-3:checked ~ .slides {
    transform: translateX(-50%);
  }
  #radio-4:checked ~ .slides {
    transform: translateX(-75%);
  }
  
  
  .carrousel .slidesNavigation label:hover {
     cursor: pointer;
  }
  /* You have to repeat this with each slide/dot */
  .carrousel #radio-1:checked ~ .slidesNavigation label#dotForRadio-1,
  .carrousel #radio-2:checked ~ .slidesNavigation label#dotForRadio-2,
  .carrousel #radio-3:checked ~ .slidesNavigation label#dotForRadio-3,
  .carrousel #radio-4:checked ~ .slidesNavigation label#dotForRadio-4 {
    background: #2980b9;
  }
  
  @media  (max-width: 796px) {
    .carrousel{
      height: 8.5em;
    }
  }
  @media  (max-width: 480px) {
    .carrousel li p {
      padding-left: 0.5em;
      padding-right: 0.5em;
    }
    .carrousel li q {
        font-size: 1em;
    }
    .carrousel li img {
       width:2em;
       margin-left: -1em;
       margin-right: 0.25em;
    }
  }

  /* Call to Action, and Footer Styles (modify as needed) */
  #features, #contacts, #about {
    padding: 40px 0;
    text-align: center;
  }
  
  .cta-button {
    display: inline-block;
    padding: 10px 20px;
    background-color: #3882f6;
    color: #fff;
    text-decoration: none;
    border-radius: 5px;
    font-weight: bold;
  }
  #about{
    background-color: #1f2937;
    color: #e5e7eb;
  }
  
  /* Add more styles as needed */
  /* ... (Previous CSS Rules) ... */
 