/* Font Family */
@font-face {
    font-family: 'RobotoBold';
    src: url(../fonts/Roboto-Bold.ttf), format("truetype");
    font-weight: bold;
}

@font-face {
    font-family: 'RobotoLightItalic';
    src: url(../fonts/Roboto-LightItalic.ttf);
    font-weight: normal;
}

@font-face {
    font-family: 'RobotoRegular';
    src: url(../fonts/Roboto-Regular.ttf);
}

body{
    font-family: "RobotoRegular";
}

html,body{
    margin: 0;
    padding: 0;
    width: 100%;
}

header{
    width: 100%;
    height: auto;
    background-color: #1f2937;
  }

  
  /* Title and Header Image Styles */
  
  .banner {
    width: 100%;
    justify-content: space-between;
    position:relative;
    overflow:hidden;
    display: flex;
    flex-direction: column-reverse; /* Reverses the order of image and content on smaller screens */
    text-align: center;
    padding-top: 20px;
    background-color: #1f2937;
  }
  
  .banner-img{
    max-width: 70%;
    margin-left: 50px;
 
  }
  .banner img{
    height: 100%;
    width: 100%;
  }

  .h1{
    font-size: 48px;
    font-weight: bolder;
    color: #f9faf8;
  }
  .info{
    font-size: 18px;
    color: #e5e7eb;
  }
  
  .writings {
    text-align: center;
    margin-bottom: 20px;
    min-height: 300px;
    max-width: 200px;
    border-radius: 20px;
    padding: 40px 50px;
    border-bottom: 3px solid transparent;

  }

  
  /* Media query for responsive design */
  @media screen and (min-width: 768px) {
    .banner {
      flex-direction: row; 
      text-align: left;
    }
  
    .row {
      flex-direction: row; 
      align-items: center; 
    }
  
    .writings {
      margin-right: 20px; 
      text-align: left; 
    }
  }
  @media screen and (max-width: 768px) {
    .banner {
        flex-direction: column-reverse;
        text-align: center;
        
    }
    .banner-img{
      display: none;
    }
    .writings{
      max-width: 100%;
    }

}

  

  /*-------------------------------------------------------*/
  /* Our Courses Section Styles */
  .services {
    padding: 40px 0;
    text-align: center;
    /* Add responsive adjustments here as needed */
}

.section-title {
    padding: 20px 20px; /* Reduce the padding for smaller screens */
    text-align: center;
    font-size: 28px;
}

.general-heading {
    font-size: 24px; /* Decrease font size for smaller screens */
    margin-bottom: 15px; /* Adjust margin for smaller screens */
}

.heading-info {
    font-size: 16px; /* Decrease font size for smaller screens */
}

/* Service Card Styles */
.grid-container {
    justify-content: center;
    padding: 0% 5%; /* Adjust padding for smaller screens */
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(250px, 1fr)); /* Responsive grid */
    grid-gap: 20px; /* Add spacing between grid items */
}

.single-service {
    margin-top: 20px; /* Reduce margin for smaller screens */
    border-radius: 20px;
    background-color: #f9faf8;
    box-shadow: 0 0 20px rgba(81, 94, 125, 0.2); /* Slightly reduce shadow for smaller screens */
    padding: 30px; /* Adjust padding for smaller screens */
    text-align: center;
    transition: all .3s ease;
    border-top: 3px solid transparent;
    border-bottom: 3px solid transparent;
}

.single-service:hover {
    transform: scale(1.05);
    border-top-color: #3882f6;
    border-bottom-color: #3882f6;
}

.single-service p {
    color: #1f2937;
    font-size: 16px; /* Decrease font size for smaller screens */
}

.main-icon {
    padding: 10px;
    border-radius: 10px;
    width: 55px; /* Reduce icon size for smaller screens */
    height: 55px; /* Reduce icon size for smaller screens */
    background-color: #3882f6;
    color: rgb(255, 255, 255);
    text-align: center;
    display: inline-block;
    margin-bottom: 20px; /* Adjust margin for smaller screens */
    font-size: 20px; /* Decrease font size for smaller screens */
}

.text-title {
    font-size: 18px; /* Decrease font size for smaller screens */
    margin-bottom: 15px; /* Adjust margin for smaller screens */
}
@media screen and (max-width: 1200px) {
  .grid-container {
    justify-content: center;
    padding: 0% 5%; /* Adjust padding for smaller screens */
    display: grid;
    grid-template-columns: repeat(2, minmax(250px, 1fr)); /* Responsive grid */
    grid-gap: 20px; /* Add spacing between grid items */
    }

  }
  @media screen and (max-width: 540px) {
    .grid-container {
      justify-content: center;
      display: grid;
      grid-template-columns: repeat(1, minmax(250px, 1fr)); /* Responsive grid */
      grid-gap: 20px; /* Add spacing between grid items */
      }
  
    }

/* Add more responsive adjustments as needed */

/*------------------------------*/
/* Testimonial Styles  */
  
#container {
    max-width: auto;
    margin: 0 auto;
    text-align: center;
    position: relative;
}

#testimonials {
    background-color: #f9f9f9;
    padding: 30px 0;
}

  /*Carousel*/
  .carrousel {
    text-align: center;
    max-width: 750px;
    margin: auto;
    position: relative;
    overflow: hidden;
  }
  .carrousel h2 {
    margin: 0;
    margin-top: -1.7em;
    padding: 0;
    font-size: 1em;
    text-align: center;
    color: #bbbbbb;
  }
  .carrousel .slides {
    width: 400%;
    left: 0;
    padding-left: 0;
    overflow: hidden;
    list-style: none;
    position: relative;
  
    -webkit-transition: transform .5s;
    -moz-transition: transform .5s;
    -o-transition: transform .5s;
    transition: transform .5s;
  }
  .carrousel .slides li {
    width: 25%;
    position: relative;
    float: left;
  }
  .carrousel li p{
    margin-top: 0;  
  }
  .carrousel li q {
    max-width: 90%;
    margin: auto;
    color: #666666;
    font-size: 1.3em;
    font-weight: bold;
  }
  .carrousel li span.author {
    margin-top:0.5em;
    font-size: 1.2em;
    color: #777777;
    display: block;
  }
  .carrousel .slidesNavigation {
    display: block;
    list-style: none;
    text-align: center;
    bottom: 0em;
    position: absolute; 
      width: 104px;
      left: 50%; 
      margin-left: -52px;
  }
  .carrousel input {
    display: none;
  }
  .carrousel .slidesNavigation label {
    float: left;
    margin: 6px;
    display: block;
    height: 10px;
    width: 10px;
    -webkit-border-radius: 50%;
    border-radius: 50%;
    border: solid 2px #2980b9;
    font-size: 0;
  }
  #radio-1:checked ~ .slides {
    transform: translateX(0%);
  }
  #radio-2:checked ~ .slides {
    transform: translateX(-25%);
  }
  #radio-3:checked ~ .slides {
    transform: translateX(-50%);
  }
  #radio-4:checked ~ .slides {
    transform: translateX(-75%);
  }
  
  
  .carrousel .slidesNavigation label:hover {
     cursor: pointer;
  }
  /* You have to repeat this with each slide/dot */
  .carrousel #radio-1:checked ~ .slidesNavigation label#dotForRadio-1,
  .carrousel #radio-2:checked ~ .slidesNavigation label#dotForRadio-2,
  .carrousel #radio-3:checked ~ .slidesNavigation label#dotForRadio-3,
  .carrousel #radio-4:checked ~ .slidesNavigation label#dotForRadio-4 {
    background: #2980b9;
  }
  
  @media  (max-width: 796px) {
    .carrousel{
      height: 8.5em;
    }
  }
  @media  (max-width: 480px) {
    .carrousel li p {
      padding-left: 0.5em;
      padding-right: 0.5em;
    }
    .carrousel li q {
        font-size: 1em;
    }
    .carrousel li img {
       width:2em;
       margin-left: -1em;
       margin-right: 0.25em;
    }
  }

  /* Call to Action*/
  /* Contacts Section Styles */
#contacts {
  padding: 40px 0;
  text-align: center;
}

.section-description {
  font-size: 18px; /* Adjust font size for smaller screens */
  margin-bottom: 30px; /* Adjust margin for smaller screens */
}


  .cta-button {
    display: inline-block;
    padding: 10px 20px;
    background-color: #3882f6;
    color: #fff;
    text-decoration: none;
    border-radius: 5px;
    font-weight: bold;
  }


.features-customer-service-container {
    display: flex;
    justify-content: center;
    padding: 2% 2% 2% 2%;
    font-size: 24px;
}

.features-customer-service-elements {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-around;
    background-color: #3882F6;
    padding: 2% 5% 2% 5%;
    border-radius: 1rem;
    color: #E5E7EB;
    width: 50%;
}

.features-customer-service-title {
    text-align: center;
}

.customer-service-contact-button {
    background-color: #3882F6;
    border: 1px solid #E5E7EB;
    border-radius: 8px;
    padding: 2% 4% 2% 4%;
    color: #E5E7EB;
    font-family: "RobotoRegular";
    font-size: 24px;
}

@media only screen and (max-width: 800px) {
    .features-benefits-cards-container {
        display: flex;
        flex-direction: column;
        justify-content: center;
    }

    .features-testimonials-card-description,
    .features-testimonials-card-title {
        font-size: 20px;
    }

    .features-customer-service-elements {
        display: flex;
        width: 60%;
        flex-direction: column;
        font-size: 12px;
    }

    .customer-service-contact-button {
        font-size: 12px;
    }

    .features-title-description {
        text-align: justify;
    }
}